@model Member

    <tr>
        <td>
            <a asp-controller="Member" asp-action="Details" asp-route-id="@Model.MemberID">@Model.FirstLastName</a>
        </td>
        <td>
            @Model.TotalAttendance
        </td>
        <td>
            @Model.RemainingPunches
        </td>
        <td>
            @Model.ActiveText
        </td>
    </tr>