@model IList<Member>

<table id="memberTable" class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                MemberID
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].TotalAttendance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RemainingPunches)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ActiveText)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model) {
            <tr>
                <td>
                    @member.MemberID
                </td>
                <td>
                    <a asp-controller="Member" asp-action="Details" asp-route-id="@member.MemberID">@Html.DisplayFor(modelItem => member.FirstLastName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => member.TotalAttendance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => member.RemainingPunches)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => member.ActiveText)
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="~/lib/datatables/datatables.min.css" rel="stylesheet" />
<script src="~/lib/datatables/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#memberTable').DataTable({
            oLanguage: {
                sSearch: "Search Members"
            },
            autoWidth: false,
            fixedHeader: true,
            pageLength: 50,
            columns: [
                { visible: false },
                null,
                { searchable: false },
                { searchable: false, orderable: false },
                { searchable: false, orderable: false }
            ],
            rowId: 'MemberID',
            order: [[1, "asc"]]
        });
    });
</script>
