@model Member

@{var buttonText = @Model.Inactive ? "Make Active" : "Make Inactive";}

<style type="text/css">
    table {
        float: left;
    }

    #punchCards {
        margin-left: 10px;
    }

    caption {
        padding-top: 0px;
        padding-left: 5px;
    }
</style>

<div>
    <form id="details" method="post">
        <input type="hidden" asp-for="@Model.MemberID" />
        <input type="hidden" asp-for="@Model.FirstName" />
        <input type="hidden" asp-for="@Model.LastName" />
        <input type="hidden" asp-for="@Model.Inactive" />
        <dl>
            <dd>
                Member: @Model.FirstLastName
                &nbsp;[<a asp-controller="Member" asp-action="Edit" asp-route-id=@Model.MemberID>Change name</a>]
            </dd>
            <dd>
                Unused punches: @Model.RemainingPunches
            </dd>
            <dd>
                Total paid: @Model.TotalPaid
            </dd>
            <dd>
                Status: @Model.ActiveText
                &nbsp;
                <input type="submit" value="@buttonText" class="btn btn-sm btn-dark" />
            </dd>
        </dl>
    </form>
    <a asp-controller="Member" asp-action="List">Return to list</a>
</div>