@model MemberDetailsViewModel

@{var buttonText = @Model.Member.Inactive ? "Make Active" : "Make Inactive";}

<style type="text/css">
    table {
        float: left;
    }

    #punchCards {
        margin-left: 10px;
    }
</style>

<div>
    <form id="details" asp-action="ToggleActive" method="post">
        <input type="hidden" asp-for="@Model.Member.MemberID" />
        <input type="hidden" asp-for="@Model.Member.FirstName" />
        <input type="hidden" asp-for="@Model.Member.LastName" />
        <input type="hidden" asp-for="@Model.Member.Inactive" />
        <dl>
            <dd>
                Member: @Model.Member.FirstLastName
                &nbsp;
                <a asp-action="Edit" asp-route-id=@Model.Member.MemberID class="btn btn-sm btn-dark">Change name</a>
            </dd>
            <dd>
                Unused punches: @Model.Member.RemainingPunches
            </dd>
            <dd>
                Total paid: @Model.Member.TotalPaid
            </dd>
            <dd>
                Status: @Model.Member.ActiveText
                &nbsp;
                <input type="submit" value="@buttonText" class="btn btn-sm btn-dark" />
            </dd>
        </dl>
    </form>
</div>
<div>
    <table class="table-striped table-bordered" id="practices">
        <caption>Practices</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Practices[0].Practice.PracticeDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Practices[0].PaymentType)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Practices[0].PaymentAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var practice in Model.Practices) {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Practice" asp-route-id=@practice.PracticeID>@Html.DisplayFor(modelItem => practice.Practice.PracticeDate)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => practice.PaymentTypeText)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => practice.PaymentAmount)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total Attended</td>
                <td>@Model.Member.TotalAttendance</td>
                <td class="text-right">@Model.Practices.Sum(s => s.PaymentAmount)</td>
            </tr>
        </tfoot>
    </table>
    <table class="table-striped table-bordered" id="punchCards">
        <caption>Punch Cards</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PunchCardsPurchased[0].PurchaseDate)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.PunchCardsPurchased[0].PurchaseAmount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var punchCard in Model.PunchCardsPurchased) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => punchCard.PurchaseDate)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => punchCard.PurchaseAmount)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>Total: @Model.PunchCardsPurchased.Count</td>
                <td class="text-right">@Model.PunchCardsPurchased.Sum(s => s.PurchaseAmount)</td>
            </tr>
        </tfoot>
    </table>
</div>
<div style="padding-top: 10px; clear: both;">
    <a asp-action="List">Return to list</a>
</div>