@model MembersIndexViewModel

@Model.ActiveStatus
<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Attended
            </th>
            <th>
                Remaining Punches
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var member in Model.Members) {
            <tr>
                <td>
                    @member.FirstLastName
                </td>
                <td>
                    @member.TotalAttendance
                </td>
                <td>
                    @member.RemainingPunches
                </td>
                <td>
                    @member.ActiveText
                </td>
            </tr>
        }
    </tbody>
</table>
