@model AttendanceCheckInViewModel

<form id="checkInForm" asp-action="CheckIn" data-ajax="true" data-ajax-update="#selectMember"
      data-ajax-mode="replace" class="col-md-10 no-pad-left" asp-route-memberID="@Model.Member.MemberID"
      asp-route-practiceID="@Model.Practice.PracticeID" asp-route-paymentType="@Model.PaymentType"
      asp-route-paymentAmount="@Model.PaymentAmount">
    @if (Model.Member.RemainingPunches > 0) {
        <div class="form-group row">
            <input type="hidden" id="remainingPunches" asp-for="@Model.Member.RemainingPunches" />
            <label class="col-md-2 col-form-label">Unused punches</label>
            <div class="col-md-9">
                <input asp-for="@Model.Member.RemainingPunches" class="form-control col-md-2" readonly="readonly" />
            </div>
        </div>
    }
    <div class="form-group row">
        <input type="hidden" id="doorPrice" asp-for="@Model.AdmissionCost" />
        <label class="col-md-2 col-form-label">Payment method</label>
        <div class="col-md-auto">
            <input type="hidden" id="paymentType" asp-for="@Model.PaymentType" />
            @Html.DropDownList("ddlPayment", Model.PaymentMethods, new { @class = "form-control col-md-auto", id = "ddlPayment" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 col-form-label">Amount</label>
        <div class="col-md-9 row no-side-margins">
            <input asp-for="@Model.PaymentAmount" class="form-control col-md-2" id="admissionAmount" style="margin-right: 5px;" />
            <input type="submit" value="Check in" class="btn btn-sm btn-primary" />
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
@if (Model.Practice.AttendeeCount > 0) {
    <div>
        <table class="table-striped table-bordered" id="attendees">
            <caption>Attendees</caption>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Attendances[0].Member.FirstLastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Attendances[0].PaymentTypeText)
                    </th>
                    <th class="text-right">
                        @Html.DisplayNameFor(model => model.Attendances[0].PaymentAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attendance in Model.Attendances) {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-controller="Member" asp-route-id=@attendance.MemberID>@Html.DisplayFor(modelItem => attendance.Member.FirstLastName)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => attendance.PaymentTypeText)
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => attendance.PaymentAmount)
                        </td>
                        <td>
                            <a asp-action="DeleteAttendance" asp-controller="Attendance" asp-route-id="@attendance.AttendanceID"
                               data-ajax="true" data-ajax-update="#selectMember"><span class="oi oi-trash"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        @string.Format("Attended: {0}", Model.Attendances.Count())
                    </td>
                    <td>
                        Collected
                    </td>
                    <td class="text-right">
                        @Model.Attendances.Sum(s => s.PaymentAmount).ToString("##,#.00")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
}
<script>
    $(document).ready(function () {
        if ($('#remainingPunches').val() > 0)
            $('#ddlPayment').val('2');
        else $('#ddlPayment').val('1')
        $paymentType = $('#ddlPayment option:selected').val();
        $('#paymentType').val($paymentType);
        $doorPrice = $('#doorPrice').val();
        if ($paymentType == '1')
            $('#admissionAmount').val($doorPrice);
        else $('#admissionAmount').val('0.00');
    });
    $('#ddlPayment').change(function () {
        $paymentType = $('#ddlPayment option:selected').val();
        $('#paymentType').val($paymentType);
        $doorPrice = $('#doorPrice').val();
        if ($paymentType == '1')
            $('#admissionAmount').val($doorPrice);
        else $('#admissionAmount').val('0.00');
    });
</script>