@model PracticeDetailsViewModel

@if (@TempData["Message2"] != null) {
    <div class="@TempData["Style2"]">@TempData["Message2"]</div>
}

<form id="practiceDetailsForm" asp-controller="Attendance" asp-action="Add" asp-route-practice="@Model.Practice"
      data-ajax="true" data-ajax-update="#practiceDetails" data-ajax-mode="replace">
    <input type="hidden" asp-for="@Model.Practice.PracticeID" />
    <input type="hidden" asp-for="@Model.Practice.PracticeDate" />
    <div class="form-inline">
        <span>Add new practice:</span>
    </div>
    <div class="form-inline">
        <label asp-for="@Model.Practice.PracticeNumber" class="col-form-label"></label>
        <input asp-for="@Model.Practice.PracticeNumber" class="form-control col-md-2" />
    </div>
    <div class="form-inline">
        <label asp-for="@Model.Practice.PracticeTopic" class="col-form-label"></label>
        <input asp-for="@Model.Practice.PracticeTopic" class="form-control col-md-9" />
    </div>
    <div class="form-inline">
        <label asp-for="@Model.Practice.PracticeCost" class="col-form-label"></label>
        <input asp-for="@Model.Practice.PracticeCost" class="form-control col-md-2" />
    </div>
    <div class="form-inline">
        <label asp-for="@Model.Practice.MiscExpense" class="col-form-label"></label>
        <input asp-for="@Model.Practice.MiscExpense" class="form-control col-md-2" />
    </div>
    <div class="form-inline">
        <label asp-for="@Model.Practice.MiscRevenue" class="col-form-label"></label>
        <input asp-for="@Model.Practice.MiscRevenue" class="form-control col-md-2" />
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="submit" id="btnSubmitPracitce" value="Add Practice" class="btn btn-sm btn-primary" />
    </div>
</form>

